.home__container {
  --home_container_width: min(95vw, 1080px);
  --home_container_height: calc(100vh - calc(2 * var(--title_height)));
  --home_title_height: var(--title_height);
  --home_footer_height: var(--title_height);
  --box_color:  rgb(189, 170, 136);

  height: var(--home_container_height);
  width: var(--home_container_width);
  text-align: center;
  background: rgb(201, 144, 39);
  color: rgb(0, 24, 8);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__header {
  height: var(--home_title_height);
  width: calc(var(--home_container_width) - 30px);
  margin: 15px;
  background-color: var(--box_color);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__footer {
  height: var(--home_footer_height);
  width: calc(var(--home_container_width) - 30px);
  margin: 15px;
  background-color: var(--box_color);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.home__content {
  --room_list_height: calc(var(--home_container_height) - var(--home_title_height) - var(--home_footer_height));
  height: var(--room_list_height);
  width: calc(var(--home_container_width) - 30px);
  background-color: var(--box_color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

/* ROOM LIST */

.room_list__container {
  background: wheat;
  padding: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 60px;
}

.room_list__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
}

.room_list__header > h5 {
  width: 100%;
  text-align: left;
  padding-left : 10px;
}

.room_list__header > button {
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 15px;
}

.room_list__header > button:hover {
  background: darkslategray;
  color: white;
}

.line {
  width: 400px;
  height: 1px;
  margin-top: 4px;
  margin-bottom: 4px;
  background: gray;
}

.room_info {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: rgba(0,0,0,0.2);
  margin-bottom: 2px;
  justify-content: right;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.room_info  button {
  width: 40px;
  height: 25px;
  border: none;
  border-radius: 10px;
}

.room_info  button:enabled:hover {
  width: 40px;
  height: 25px;
  border: none;
  background-color: gray;
}

.room_info > .joinbutton {
  width: fit-content;
  border: none;
  margin-left: 35%;
  margin-right: 5%;
  font-size: 15px;
}


