

.game__header {
  background: white;
  color: black;
  width: 80vw;
  margin-bottom: 20px;
  height: 40px;
}

.game__body {
  background: grey;
  width: 720px;
  height: 420px;
  position: relative; 
}

.game__body canvas {
  --left_padding: 10px;
  --top_padding: 10px;
  position: absolute;
  border: none;
  top : var(--top_padding);
  left: var(--left_padding);
}

.game__footer {
  background: white;
  color: black;
  width: 80vw;
  margin-top: 20px;
  height: 40px;
}
