.App {
  width: 95vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  width: 95vw;
  color: wheat;
  text-align: right;
  font-weight: 400;
  font-size: calc(var(--title_height) * 0.8);
  height: var(--title_height);
}

.main__footer {
  width: 95vw;
  color: wheat;
  text-align: right;
  font-weight: 400;
  font-size: calc(var(--title_height) * 0.8);
  height: var(--title_height);
  transform: rotate(180deg);
}
